# Prerequisites for the PWRU (https://github.com/cilium/pwru) flags

# Explicitly need to disable / remove this value from defconfig
# "... is not set" will remove from the config and not throw an error compared to
# "... = n"
# CONFIG_DEBUG_INFO_NONE is not set

# Explicitly need to enable debug info
CONFIG_DEBUG_INFO=y
# let the toolchain decide DWARF4 vs DWARF5
CONFIG_DEBUG_INFO_DWARF_TOOLCHAIN_DEFAULT=y

# PWRU flags copied directly from PWRU readme
CONFIG_DEBUG_INFO_BTF=y
CONFIG_KPROBES=y
CONFIG_PERF_EVENTS=y
CONFIG_BPF=y
CONFIG_BPF_SYSCALL=y
CONFIG_FUNCTION_TRACER=y
CONFIG_FPROBE=y
