#
# L2TP / L2TPv3 (RFC 3931)
#
# Layer-2 Tunnelling Protocol core, plus the v3 extensions, IP
# transport and pseudowire support used by VyOS
# "interfaces l2tpv3". PPP-over-L2TP transport lives in
# 58-ppp.config.
#

CONFIG_L2TP=m
CONFIG_L2TP_DEBUGFS=m
CONFIG_L2TP_V3=y
CONFIG_L2TP_IP=m
CONFIG_L2TP_ETH=m
