/linux*
/wireguard
/wireguard-linux-compat
/accel-ppp
/accel-ppp-ng
/intel-qat
/linux-firmware
/vyos-drivers-intel*
/vyos-drivers-realtek*
/ovpn-dco
/nat-rtsp*
/jool*
/ipt-netflow*
/qat*
/QAT*
*.tar.gz
*.tar.xz
/*.postinst

# Intel Driver source
i40e-*/
igb-*/
ethernet-linux-*/
vyos-intel-*/
vyos-linux-firmware*/
kernel-vars
r8152-*.tar.bz2
ephemeral.*
*.buildinfo
*.build
*.changes
*.deb
*.dsc
