name: Check for unused imports using Pylint
on:
  pull_request:
    branches:
      - current
      - sagitta
      - equuleus
  workflow_dispatch:

permissions:
  pull-requests: write
  contents: read

jobs:
  check-unused-imports:
    uses: vyos/.github/.github/workflows/check-unused-imports.yml@current
    secrets: inherit
